
html{
    font-size: 100%;
    min-height: 100%;
    min-width: 100%;    

    background-color: white;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}



body{
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 1rem;
    min-height: 100%;
    min-width: 100%;
    background-color: white;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
   
    
}
button{
    cursor: pointer;
}

html, body, #app, #app>div {
    height: 100%
  }
button:disabled{
    color: $off-white;
    cursor: not-allowed;
}
.container-fluid{
    margin:0;
    padding:0;
}