
.toast-private-message_body{
    margin-left: 4.7rem;
    
}
.private-message_from{
    margin-top: 1.5rem !important;
    margin-left: 1rem;
}
.toast_messsage{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
}
.toast_image{
    margin-left: 1rem!important;
  
}